@import "tailwindcss";

@media print {
    body {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
    
    /* Cacher les éléments inutiles à l'impression */
    .no-print {
      display: none !important;
    }
}